.nav-link {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 0 25px;
}

.active {
    color: #bcff00;;
    text-decoration: underline;
    text-shadow: 0 0 5px #bcff00,
    0 0 25px #bcff00,
    0 0 50px #bcff00,
    0 0 100px #bcff00;
}

nav {
    padding: 0 0 1%;
}

