.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.title-bar {
  padding: 1% 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.test {
  font-family: "Bombing";
  font-size: calc(25px + 5vmin);
  color: #03e9f4;
  letter-spacing: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: calc(12px + 2vmin);
}

h2 {
  font-size: calc(10px + 2vmin);
}

h3 {
  font-size: calc(8px + 2vmin);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 2% 5%;
  background-color: none;
}

.stock-box {
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
}

.stock-listing {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 3%;
  margin: 2%;
  border: 2px solid;
  border-radius: 5px;
  background-color: #0a875433;
}

.stock-name, .stock-price {
  font-size: calc(7px + 2vmin);
}

.stock-price {
  color: #0A8754;
}

.refresh-date {
  font-size: calc(.25px + 2vmin);
  padding: 0 3px;
}


/**************************** HOME page ****************************/
.dbBoxPrimary,
.dbIncome {
  grid-column: 1/9;
  background-color: #0a875433;
  border: 1px solid #666666;
  border-radius: 5px;
}

.dbBoxPrimary .dbIncome {
  background-color: white;
}

.dbTickerSideBar,
.dbIncome-num {
  grid-column: 9/13;
  text-decoration: none;
  background-color: white;
  border: 1px solid #666;
  border-radius: 8px;
  text-align: center;
}

.recent-transactions {
  grid-row: 2;
  grid-column: 1/7;
  border: 1px solid #666;
  background-color: #508ca48f;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: auto;
  height: calc(50vh - 10px);
  color: black;
}

.recent-transactions table th {
  font-size: calc(3px + 2vmin);
}

.category-breakdown {
  grid-column: 7/13;
  border: 1px solid #666;
  background-color: #BFD7EA;
  border-radius: 8px;
  
}

.category-breakdown .dbIncome,
.category-breakdown .dbIncome-num {
  background-color: white;
  margin: 0;
  padding: 0;
} 




/**************************** Transactions page ************************/
.table-flow {
  overflow-x: auto;
}

table, th, td {
  border: 1px solid #666;
}

th {
  font-size: calc(10px + 2vmin);
  width: 1%;
}

td {
  font-size: calc(5px + 2vmin);
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

tfoot td {
  font-size: 5vw;
  color: red;
  text-align: center;
}

.delete-btn {
  margin: 0 0 2px;
}


/**************************** Add Transactions page ************************/

.add-transactions-form{
  text-align: center;
  background-color: #f3f1f5;
  max-width: 650px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #666;
  padding: 2%;
  margin-top: 2%;
}

input {
  width: 250px;
  height: 35px;
  font-size: calc(10px + 1vmin);
  text-align: center;
  border-radius: 5px;
  margin: 0;
}

label {
  font-size: calc(10px + 2vmin);
}

select {
  width: 250px;
  height: 35px;
  font-size: calc(10px + 1vmin);
  text-align: center;
  border-radius: 5px;
  margin: 0;
  border: 2px solid black; 
}

.button {
  border-radius: 5px;
  font-size: calc(1px + 2vmin);
  background-color: #282C34;
  color: white;
  border: 1px solid white;
  transition: ease-in-out 330ms;
  padding: 1%;
  width: 150px;
}

.button:hover {
  background-color: #508CA4;
  color: white;
  border: none;
  box-shadow: 0 0 5px #508CA4,
              0 0 25px #508CA4,
              0 0 50px #508CA4,
              0 0 100px #508ca4;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}


