.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.title-bar {
  padding: 1% 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.test {
  font-family: "Bombing";
  font-size: calc(35px + 5vmin);
  color: #03e9f4;
  /* letter-spacing: 8px; */
}

.App-header {
  background-color: transparent;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 0 3%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: calc(12px + 2vmin);
}

h2 {
  font-size: calc(10px + 2vmin);
}

h3 {
  font-size: calc(8px + 2vmin);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 5%;
  background-color: none;
}

.stock-box {
  color: #ffffff;
  /* display: flex; */
  justify-content: space-around;
  padding: 1% 0;
}

.stock-listing {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 2%;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transform: rotate(330deg);
}

.stock-name {
  font-size: calc(17px + 9vmin);
  color:#03e9f4;
}

.stock-price {
  font-size: calc(17px + 4vmin);
  color: #bcff00;
}

.down {
  color: #ff6767;
}

.up {
  color: #5dfabf;
}

.refresh-date {
  font-size: calc(15px + 5vmin);
  padding: 0 3px;
  color: #ffffff
}


/**************************** HOME page ****************************/
.dbBoxPrimary {
  grid-column: 1/6;
  grid-row: 1;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.dbIncome {
  grid-column: 1/9;
}

.dbBoxPrimary .dbIncome {
  background-color: transparent;
}

.dbBoxPrimary .test {
  font-size: calc(50px + 3vmin);
  color: #5dfabf;
  
}

main > .test {
  font-size: calc(15px + 3vmin);
  color: #C64191;
  padding: 0 9%;
  /* text-shadow: 0 0 5px #C64191, 0 0 25px #C64191, 0 0 50px #C64191, 0 0 100px #C64191; */
}

.dbTickerSideBar {
  grid-column: 1/13;
  grid-row: 4;
  text-decoration: none;
  background-color: none;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.dbIncome-num {
  grid-column: 10/13;
}

.recent-transactions {
  margin: 5% 0;
  grid-row: 2;
  grid-column: 1 / 13;
  border: 8px solid #bcff00;
  box-shadow: 0 0 5px #bcff00,
    0 0 25px #bcff00,
    0 0 50px #bcff00,
    0 0 100px #bcff00;
  /* background-color: #508ca48f; */
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: auto;
  height: calc(50vh - 10px);
  color: white;
}

.list-header {
  font-size: calc(15px + 3vmin);
  padding: 0 4%;
  color: #C64191;
}

.recent-transactions table th {
  font-size: calc(35px + 2vmin);
}

.category-breakdown {
  /* margin: 3% 0; */
  grid-column: 7 / 13;
  grid-row: 1;
  /* border: 1px solid #666; */
  background-color: #5dfabf;
  border-radius: 8px;
  /* padding: 2%; */
  box-shadow: 0 0 5px #5dfabf,
    0 0 25px #5dfabf,
    0 0 50px #5dfabf,
    0 0 100px #5dfabf;
  
}

.category-breakdown .dbIncome,
.category-breakdown .dbIncome-num {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: calc(35px + 4vmin);
} 




/**************************** Transactions page ************************/
.table-flow {
  overflow-x: auto;
}

table, th, td {
  border: 1px solid #ffffff;
  color: white;
}

th {
  font-size: calc(35px + 2vmin);
  width: 1%;
}

td {
  font-size: calc(25px + 4vmin);
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

tfoot td {
  font-size: 5vw;
  color: red;
  text-align: center;
}

.delete-btn {
  margin: 0 0 2px;
  font-size: calc(25px + 4vmin);
  color: #ff6767;
  cursor: pointer;
}

.delete-btn:hover{
  text-shadow: 0 0 5px #ff6767,
  0 0 25px #ff6767,
  0 0 50px #ff6767,
  0 0 100px #ff6767;
}


/**************************** Add Transactions page ************************/

.add-transactions-form{
  text-align: center;
  background-color: #5dfabf;
  max-width: 650px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px #000, 0 0 25px #000, 0 0 50px #000, 0 0 100px #000;
  padding: 1%;
}

.add-transactions-form > .test {
  padding: 0;
}

input {
  width: 250px;
  height: 35px;
  font-size: calc(15px + 2vmin);
  text-align: center;
  border-radius: 5px;
  margin: 0;
  font-family: 'bombing';
  background: transparent;
  border: none;
  margin: 2% 0;
}

label {
  font-size: calc(20px + 4vmin);
}

select {
  width: 250px;
  height: 35px;
  font-family: 'bombing';
  font-size: calc(15px + 2vmin);
  text-align: center;
  border-radius: 5px;
  margin: 0;
  border: 2px solid black;
  background-color: transparent; 
  border: none;
  margin: 2% 0;
}

.button {
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  transition: ease-in-out 330ms;
  padding: 1%;
  width: 150px;
  font-family: 'Bombing';
}

.button:hover {
  /* background-color: #508CA4; */
  color: #5dfabf;
  border: 1px solid #000;
  text-shadow:0 0 5px #000,
  0 0 25px #000,
  0 0 50px #000,
  0 0 100px #000;
  box-shadow: 0 0 5px #000
  0 0 25px #000,
  0 0 50px #000,
  0 0 100px #000;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

/**************************** Error Page ************************/

.error-page {
  text-align: center;
  background: #282c34;
  height: 800px;
}

.error-page .test {
  color: #C64191;
  text-shadow:0 0 5px #C64191,
  0 0 25px #C64191,
  0 0 50px #C64191,
  0 0 100px #C64191;
  margin: 0;
  padding: 5%;
}

