@media (max-width: 768px) {
  .nav-link {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 0 5px;
  }

    .active {
      color: #bcff00;
      text-decoration: underline;
  }

 
  .dbBoxPrimary,
  .dbIncome {
      grid-column: 1/13;
      background-color: grey;
      border: 1px solid red;
    }
    
    .dbTickerSideBar,
    .dbIncome-num {
      grid-column: 1/13;
      border: 1px solid rgb(255, 0, 43);
      background-color: aliceblue;
    }
    
  }
  