@media (max-width: 768px) {
  .nav-link {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 0 5px;
  }

    .active {
      color: #bcff00;
      text-decoration: underline;
  }

 
  .dbBoxPrimary,
  .dbIncome {
      grid-column: 1/13;
      background-color: #0a875433;
      border: 1px solid #666666;
      border-radius: 5px;
      text-align: center;
    }
    
    .dbTickerSideBar,
    .dbIncome-num {
      grid-column: 1/13;
      text-decoration: none;
      background-color: white;
      border: 1px solid #666;
      border-radius: 8px;
      text-align: center;
    }

    .recent-transactions {
      grid-row: 3;
      grid-column: 1/13;
      border: 1px solid #666;
      background-color: #508CA4;
      border-radius: 8px;
      overflow-y: auto;
      overflow-x: auto;
      height: calc(50vh - 10px);
    }
    
    .recent-transactions table th {
      font-size: calc(5px + 2vmin);
    }

    .category-breakdown {
      grid-column: 1/13;
      border: 1px solid #666;
      background-color: #BFD7EA;
      border-radius: 8px;
      
    }

    .dbIncome {
      grid-column: 1/7;
      margin: 0;
      padding: 0;
    }
    .dbIncome-num {
      grid-column: 7/13;
      background-color: white;
      margin: 0;
      padding: 0;
} 
    
  }
  